#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #EBEDEE;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



/* //Main css */
.shelter-management-header {
  background-color: #005f73;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #ee6c4d;
}

.shelter-management-header h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 2em;
}

.shelter-management-header p {
  margin: 0;
  font-size: 1.2em;
}

.shelter-button {
  background-color: #ee6c4d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.shelter-button:hover {
  background-color: #3d5a80;
}

.shelter-link {
  text-decoration: none;
}

.button-section {
  text-align: center;
}



/* //get All Shelter css */
.shelter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* width: 1600px; */
  margin: auto;
}

.shelter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.shelter-card {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 25px;
}

.shelter-info {
  margin-bottom: auto;
  /* Pushes content to the top */
  text-align: center;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  /* Pushes buttons to the bottom */
}

.shelter-image {
  width: 300px;
  margin-bottom: 25px;
}


.newmainbackground {
  width: auto;
  left: 0px;
  margin-top: 0px;
  background-color: #0056b3;
  height: 200px;
}